body {
    background: url(https://tinyurl.com/5axytknj);
    background-size: cover;
}

.title {
    transition-duration: 1s;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 50px;
    font-size: 35px;
    text-align: left;
    letter-spacing: 4px;
    user-select: none;
}

.title span {
    transition-duration: 1s;
}

#btn-storage {
    transition-duration: 1s;
    text-align: center;
    background-color: brown;
    cursor: pointer;
    border: solid rgb(0, 0, 0);
}

#btn-storage:hover {
    background-color: red;
}

header {
    background-color: grey;
    color: white;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    height: 35px;
    transition: all 0.8s ease-in-out;
}

/* PLUS ADD BUTTON START */

.plus {
    display: grid;
    transition: all 0.8s ease-in-out;
    background-color: rgb(218, 197, 197);
    margin: 0 auto;
    margin-top: 70px;
    border: solid;
    border-color: grey;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 5px 5px rgb(128, 110, 128);
    order: 1;
    cursor: pointer;
}

/* INNER SYMOBL OF ADD BUTTON */

.plus span {
    transition-duration: 1s;
    align-self: center;
    justify-self: center;
    font-size: 50px;
    font-family: sans-serif;
    user-select: none;
}

/* HOVERING OVER THE .PLUS DIV CHANGES THE SCALE ETC */

.plus:hover {
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(14, 11, 14);
    transform: scale(2.5);
    background-color: purple;
    transition: ease-out;
    transition-duration: 1s;
}

/* HOVERING OVER THE .PLUS DIV CHANGES THE INNER TEXT AS WELL */

.plus:hover span {
    transition: ease-in-out;
    transition-duration: 1s;
    transform: rotateZ(90deg);
}

.sidenav {
    position: fixed;
    transition: all 1.5s ease-in-out;
    height: 100%;
    width: 35px;
    color: transparent;
    float: left;
    z-index: 1;
    top: 6.2%;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    user-select: none;
}

.sidenav header {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidenav:hover {
    transition: all 1s ease-in-out;
    width: 160px;
    background-color: #111;
    color: grey;
    cursor: default;
}

/* The navigation menu links */

.sidenav .item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

.sidenav .item:hover {
    color: white;
}

.sidenav .hr {
    display: none;
}

.sidenav #item4 {
    margin-top: 540px;
    font-size: 15px;
}

/* NEW BOOK ELEMENTS / PARAMETERS */

input {
    outline: none;
    margin-left: 5px;
    font-size: 20px;
}

.book-input {
    border-bottom: 2px solid rgb(98, 95, 95) !important;
}

.book-container {
    display: grid;
    top: 30%;
    left: 45%;
    position: fixed;
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 4px 5px rgb(129, 62, 129);
    border: solid;
    border-radius: 15px;
    block-size: 10rem;
    height: 346px;
    width: 300px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.876);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.book-head {
    display: grid;
    text-align: center;
    height: 50px;
    font-family: fantasy;
    font-size: 40px;
    background-color: purple;
    border: solid;
    user-select: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
}

.book-content {
    display: grid;
}

#date-label-book {
    margin: 0 auto;
    color: grey;
    transform: translate(0.25rem, -3.25rem);
}

label {
    display: grid;
    font-family: fantasy;
    transform: translate(0, -2.75rem);
    color: #999;
    transform: translate(0.25rem, -1.5rem);
    font-size: 15px;
    transition: all 0.2s ease-out;
    transition-duration: 0.5s;
    user-select: none;
}

#book-name {
    border: 0;
    width: 250px;
    color: rgb(173, 86, 101);
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#pages {
    border: 0;
    color: rgb(173, 86, 101);
    width: 100px;
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#max-pages {
    border: 0;
    width: 100px;
    color: rgb(173, 86, 101);
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#date {
    border: 0;
    color: rgb(173, 86, 101);
    margin: 0 auto;
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15)
}

#date:focus+label, input:not(:placeholder-shown)+label {
    color: rgb(148, 37, 199);
}

.blur {
    transition: all .5s ease-in-out;
    filter: blur(3px)
}

.book-input:focus+label, .book-input:not(:placeholder-shown)+label {
    color: rgb(148, 37, 199);
    transform: rotateX(90deg);
    transform: translate(0.25rem, -3rem);
}

.btn-add {
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    color: #fff;
    background-color: rgb(20, 75, 37);
    box-shadow: 0 -4px 0 green;
    border: 0;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-cancel {
    box-sizing: border-box;
    padding: 8px 8px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(104, 18, 18);
    box-shadow: 0 -4px 0 brown;
    border: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-add:hover {
    background-color: rgb(20, 144, 41);
}

.btn-cancel:hover {
    background-color: rgb(241, 19, 19);
}

.btn-element {
    display: flex;
    align-items: flex-end;
    user-select: none;
}

/* NEW CARD ELEMENTS / PARAMETERS */

.card {
    display: grid;
    margin: 0 auto;
    transform: scale(1.3);
    box-shadow: 0 0 4px 5px rgb(128, 110, 128);
    border: solid;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    color: white;
    background-color: rgba(0, 0, 0, 0.876);
    transition: all .5s;
    user-select: none;
}

.content {
    display: grid;
}

.btn-edit {
    transition: all .2s;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    color: #fff;
    background-color: rgb(233, 101, 13);
    box-shadow: 0 -4px 0 orange;
    border: none;
    border-radius: 11px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-remove {
    transition: all .2s;
    box-sizing: border-box;
    padding: 8px 8px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(104, 18, 18);
    box-shadow: 0 -4px 0 brown;
    border: none;
    border-radius: 11px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-remove:active {
    transition: all .2s;
    box-shadow: 1px 0px 1px 0px rgb(71, 39, 39);
    color: red;
    background-color: brown;
}

.btn-edit:active {
    transition: all .2s;
    box-shadow: 1px 0px 1px 0px rgb(71, 39, 39);
    color: orange;
    background-color: rgb(100, 74, 25);
}

h1 {
    display: grid;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    border: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-head {
    align-items: center;
}

.card-pages-head {
    border-radius: 0;
    align-items: center;
}

.card-max-pages-head {
    border-radius: 0;
    align-items: center;
}

.card-date {
    position: fixed;
    font-size: 15px;
    justify-self: right;
    margin-top: 39px;
    text-shadow: 1px 1px 1px purple;
}

.card-title {
    display: grid;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

.card-btns-pages {
    display: flex;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
}

.card-btns-max-pages {
    display: flex;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
}

.card-pages {
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-max-pages {
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-add-max-pages {
    background-color: green;
    border: 0;
    cursor: pointer;
}

.btn-remove-max-pages {
    background-color: red;
    border: 0;
    cursor: pointer;
}

.btn-add-pages {
    background-color: green;
    border: 0;
    cursor: pointer;
}

.btn-remove-pages {
    background-color: red;
    border: 0;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
}

.wrapper {
    display: grid;
    margin-top: 100px;
    transition: all 2s;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

.btn-add:active {
    background-color: rgb(19, 255, 19);
}

.btn-cancel:active {
    background-color: red;
}

.delete-msg {
    transition: all 2s ease-in-out;
    font-size: 15px;
    color: red;
    text-align: center;
    margin-top: -60px;
    opacity: 1;
    border: double;
    width: 250px;
}

/* CONFIRMATION FOR DELETION MESSAGE */

.msg-container {
    position: fixed;
    z-index: 20;
    transform: scale(1.5);
    top: 45%;
    left: 45%;
    box-shadow: 0 0 4px 5px rgb(192, 15, 15);
    border: solid;
    border-radius: 15px;
    block-size: 10rem;
    height: 90px;
    width: 300px;
    box-sizing: content-box;
    background-color: rgba(61, 22, 22, 0.876);
    cursor: default;
    user-select: none;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.msg-head {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    background-color: rgb(119, 4, 4);
    border: solid;
    user-select: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-yes {
    transition: all .5s;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    color: #fff;
    background-color: rgb(20, 75, 37);
    box-shadow: 0 -4px 0 green;
    border: 0;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-no {
    transition: all .5s;
    box-sizing: border-box;
    padding: 8px 8px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(104, 18, 18);
    box-shadow: 0px -4px 0px 0px brown;
    border: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-yes:hover {
    transition: all .2s;
    color: rgb(1, 255, 1);
    background-color: rgb(36, 87, 52);
}

.btn-no:hover {
    transition: all .2s;
    color: red;
    background-color: rgb(112, 38, 38);
}

.msg-btns {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    margin-top: 5px;
}

/* EDIT ELEMENTS */

.edit-container {
    position: fixed;
    display: grid;
    z-index: 20;
    transform: scale(1.5);
    top: 30%;
    left: 45%;
    box-shadow: 0 0 4px 5px rgb(168, 120, 42);
    border: solid;
    border-radius: 15px;
    block-size: 10rem;
    height: 346px;
    width: 300px;
    box-sizing: content-box;
    background-color: rgba(124, 84, 10, 0.938);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.edit-head {
    display: grid;
    text-align: center;
    height: 50px;
    font-family: fantasy;
    font-size: 40px;
    background-color: rgb(194, 137, 31);
    border: solid;
    user-select: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -25px;
}

#edit-name {
    border: 0;
    width: 250px;
    color: rgb(104, 29, 29);
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#edit-pages {
    border: 0;
    color: rgb(104, 29, 29);
    width: 100px;
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#edit-max-pages {
    border: 0;
    width: 100px;
    color: rgb(104, 29, 29);
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

#edit-date {
    border: 0;
    color: rgb(104, 29, 29);
    margin: 0 auto;
    background: transparent;
    border-bottom: 2px solid rgb(15, 14, 15);
}

.btn-save {
    display: grid;
    transition: all .2s;
    box-sizing: content-box;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 134px;
    color: #fff;
    background-color: rgb(233, 101, 13);
    box-shadow: 0 -4px 0 orange;
    border: none;
    border-radius: 11px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.edit-btns {
    display: flex;
    align-items: flex-end;
}

#edit-date:focus+label, input:not(:placeholder-shown)+label {
    color: rgb(187, 202, 20);
}

input:focus+label, input:not(:placeholder-shown)+label {
    color: rgb(187, 202, 20);
    transform: rotateX(90deg);
    transform: translate(0.25rem, -3rem);
}

.edit-labels {
    color: rgb(5, 3, 4);
}

#date-label-edit {
    margin: 0 auto;
    color: rgb(5, 3, 4);
    transform: translate(0.25rem, -3.25rem);
}

/* CONFIRMATION FOR CLEARING STORAGE MESSAGE */

.msg-local-container {
    position: fixed;
    z-index: 20;
    transform: scale(1.5);
    top: 45%;
    left: 45%;
    box-shadow: 0 0 4px 5px rgb(192, 15, 15);
    border: solid;
    border-radius: 15px;
    block-size: 10rem;
    height: 90px;
    width: 300px;
    box-sizing: content-box;
    background-color: rgba(61, 22, 22, 0.876);
    cursor: default;
    user-select: none;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.msg-local-head {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    background-color: rgb(119, 4, 4);
    border: solid;
    user-select: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-local-yes {
    transition: all .5s;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    color: #fff;
    background-color: rgb(20, 75, 37);
    box-shadow: 0 -4px 0 green;
    border: 0;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-local-no {
    transition: all .5s;
    box-sizing: border-box;
    padding: 8px 8px;
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(104, 18, 18);
    box-shadow: 0px -4px 0px 0px brown;
    border: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-local-yes:hover {
    transition: all .2s;
    color: rgb(1, 255, 1);
    background-color: rgb(36, 87, 52);
}

.btn-local-no:hover {
    transition: all .2s;
    color: red;
    background-color: rgb(112, 38, 38);
}

.msg-local-btns {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    margin-top: 5px;
}

.opacity {
    transition: all .5s;
    opacity: 1;
    visibility: visible;
}