body {
    background: url(https://tinyurl.com/5axytknj);
    margin: 0;
    background-size: cover;
}
html {
    font-size: 10px;
}
.container {
    width: 120rem;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.title {
    transition-duration: 1s;
    display: flex;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 50px;
    font-size: 35px;
    text-align: left;
    letter-spacing: 4px;
    user-select: none;
}

.title span {
    transition-duration: 1s;
}

#btn-storage {
    transition-duration: 1s;
    text-align: center;
    background-color: brown;
    border: solid rgb(0, 0, 0);
}

#btn-storage:hover {
    background-color: red;
}

header {
    background-color: grey;
    color: white;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    height: 35px;
    transition: all 0.8s ease-in-out;
}

/* PLUS ADD BUTTON START */

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 220, 220);
    margin: 0 auto;
    border: solid;
    border-color: grey;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 5px 5px rgb(128, 110, 128);
    order: 1;
    cursor: pointer;
    transition-property: transform, box-shadow, border-radius, color, background-color;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out, ease-out, ease-out, ease-in;
    transition-delay: 0s, 0s, 0s, 0.2s;
    & span {
        transition-duration: 1s;
        align-self: center;
        justify-self: center;
        font-size: 50px;
        font-family: sans-serif;
        user-select: none;
    }
    &:hover {
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
        box-shadow: 0 0 4px 2px rgb(14, 11, 14);
        transform: scaleX(2) scaleY(3);
        background-color: purple;
        transition: cubic-bezier(0.55, 0.2, 0.8, 0.8);
        transition-duration: 0.7s;
    }
    &:hover span {
        transform: rotateZ(90deg);
    }
}

.sidenav {
    position: fixed;
    transition: all 1.5s ease-in-out;
    height: 100%;
    width: 35px;
    color: transparent;
    float: left;
    z-index: 1;
    top: 6.2%;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    user-select: none;
}

.sidenav header {
    text-align: left;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sidenav:hover {
    transition: all 1s ease-in-out;
    width: 160px;
    background-color: #111;
    color: grey;
    cursor: default;
}

/* The navigation menu links */

.sidenav .item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

.sidenav .item:hover {
    color: white;
}

.sidenav .hr {
    display: none;
}

.sidenav #item4 {
    margin-top: 540px;
    font-size: 15px;
}

/* NEW BOOK ELEMENTS / PARAMETERS */

input {
    border: 0;
    width: fit-content;
    color: rgb(173, 86, 101);
    background: transparent;
    outline: none;
    margin-left: 5px;
    font-size: 25px;
    direction: ltr;
    border-bottom: 2px solid rgb(98, 95, 95);
}

.modal,
.modal-edit {
    display: none;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: stretch;
    border: solid;
    border-radius: 15px;
    height: 45rem;
    width: 50rem;
    box-shadow: 0 0 4px 5px rgb(129, 62, 129);
    background-color: rgba(0, 0, 0, 0.876);
    &-input {
        display: flex;
        gap: 1rem;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        text-indent: 2rem;
    }
    &-head {
        text-align: center;
        height: 50px;
        font-family: fantasy;
        font-size: 40px;
        background-color: purple;
        border: solid;
        user-select: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        .button-wrapper {
            display: flex;
            justify-content: space-between;
            user-select: none;
            .btn-add,
            .btn-save,
            .btn-cancel {
                box-sizing: border-box;
                padding: 8px 8px;
                font-size: 20px;
                width: 150px;
                color: #fff;
                background-color: rgb(20, 75, 37);
                box-shadow: 0 -4px 0 green;
                border: none;
                border-radius: 12px;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                width: 100%;
                transition: box-shadow 0.2s, background-color 0.2s;
                &:hover {
                    background-color: rgb(20, 144, 41);
                }
                &:active {
                    box-shadow: 0 -2px 0 green;
                }
            }
            .btn-cancel {
                background-color: rgb(104, 18, 18);
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 0;
                border-bottom-left-radius: 0;
                box-shadow: 0 -4px 0 brown;
                &:hover {
                    background-color: rgb(241, 19, 19);
                }
                &:active {
                    box-shadow: 0 -2px 0 brown;
                }
            }
            .btn-save {
                background-color: rgb(233, 101, 13);
                box-shadow: 0 -4px 0 orange;
                &:hover {
                    background-color: rgb(196, 131, 34);
                }
                &:active {
                    box-shadow: 0 -2px 0 rgb(202, 117, 14);
                }
            }
        }
    }
}
.modal-edit {
    box-shadow: 0 0 4px 5px rgb(168, 120, 42);
    background-color: rgba(124, 84, 10, 0.938);
    &-head {
        background-color: rgb(194, 137, 31);
    }
}
.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
}

.date-label-modal {
    color: grey;
}

label {
    font-family: fantasy;
    color: #999;
    font-size: 24px;
    transition: transform 0.5s ease-out, color 0.5s ease-out;
    user-select: none;
}
.invalid {
    color: red;
}

.max-pages,
.pages {
    width: 100px;
    color: rgb(173, 86, 101);
    background: transparent;
}

.date:focus + label {
    color: rgb(148, 37, 199);
}

input:focus:not(.date) + label {
    color: rgb(148, 37, 199);
    transform: rotateX(90deg);
    transform: translate(0.25rem, -1rem);
}

/* NEW CARD ELEMENTS / PARAMETERS */

.card {
    position: relative;
    display: grid;
    box-shadow: 0 0 4px 5px rgb(128, 110, 128);
    border: solid;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.876);
    transition: background-color 0.5s;
    user-select: none;
    overflow: hidden;
    width: 100%;
    &-head,
    &-pages-head,
    &-max-pages-head {
        display: grid;
        margin: 0;
        text-align: center;
        font-size: 50px;
        background-color: black;
        color: white;
    }
    &-date {
        position: fixed;
        font-size: 15px;
        justify-self: right;
        margin-top: 39px;
        text-shadow: 1px 1px 1px purple;
    }
    &-title,
    &-btns-pages,
    &-btns-max-pages {
        display: flex;
        gap: 20px;
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    &-title {
        padding: 20px 15px;
    }
    .btn-container {
        display: flex;
    }
    .btn-add-pages,
    .btn-add-max-pages,
    .btn-reduce-pages,
    .btn-reduce-max-pages {
        border: none;
        transition: background-color 0.5s;
    }
    .btn-add-pages,
    .btn-add-max-pages {
        background-color: green;
        &:active {
            background-color: rgb(19, 255, 19);
        }
    }
    .btn-reduce-pages,
    .btn-reduce-max-pages {
        background-color: brown;
        &:active {
            background-color: red;
        }
    }
    .btn-edit,
    .btn-remove {
        font-size: 30px;
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: rgb(233, 101, 13);
        box-shadow: 0 -4px 0 orange;
        border: none;
        transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
        &:hover {
            color: orange;
            box-shadow: 0 -4px 0 orange;
        }
        &:active {
            box-shadow: 0 -2px 0 orange;
            color: orange;
            background-color: rgb(100, 74, 25);
        }
    }
    .btn-remove {
        background-color: rgb(104, 18, 18);
        box-shadow: 0 -4px 0 brown;
        &:hover {
            color: brown;
            box-shadow: 0 -4px 0 brown;
        }
        &:active {
            color: rgb(87, 34, 34);
            box-shadow: 0 -3px 0 rgb(87, 34, 34);
            background-color: brown;
        }
    }
}

.wrapper {
    display: grid;
    padding-top: 10rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    align-items: center;
}

/* CONFIRMATION FOR DELETION MESSAGE */

.message {
    display: none;
    box-shadow: 0 0 4px 5px navajowhite;
    border: solid;
    border-radius: 15px;
    background-color: rgba(61, 22, 22, 0.876);
    overflow: hidden;
    transition: background-color 0.5s;
    &-head {
        text-align: center;
        font-family: fantasy;
        font-size: 40px;
        padding: 10px 0 0;
        background-color: navajowhite;
        border: solid;
        user-select: none;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &-buttons {
        display: flex;
        .btn-confirm,
        .btn-decline {
            padding: 10px 0;
            font-size: 30px;
            width: 100%;
            color: #fff;
            background-color: rgb(20, 75, 37);
            box-shadow: 0 -8px 0 green;
            border: 0;
            transition: background-color 0.2s, box-shadow 0.2s;
            &:hover {
                color: rgb(1, 255, 1);
                background-color: rgb(36, 87, 52);
            }
            &:active {
                box-shadow: 0px -3px 0px 0px;
            }
        }
        .btn-decline {
            background-color: rgb(104, 18, 18);
            box-shadow: 0px -8px 0px 0px brown;
            &:hover {
                color: red;
                background-color: rgb(112, 38, 38);
            }
        }
    }
}

.msg-local-container {
    position: fixed;
    display: none;
    z-index: 20;
    transform: scale(1.5);
    top: 45%;
    left: 45%;
    box-shadow: 0 0 4px 5px rgb(192, 15, 15);
    border: solid;
    border-radius: 15px;
    block-size: 10rem;
    height: 90px;
    width: 300px;
    box-sizing: content-box;
    background-color: rgba(61, 22, 22, 0.876);
    cursor: default;
    user-select: none;
    // transition: all 0.5s;
}

.msg-local-head {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    background-color: rgb(119, 4, 4);
    border: solid;
    user-select: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-local-yes {
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    width: 150px;
    color: #fff;
    background-color: rgb(20, 75, 37);
    box-shadow: 0 -4px 0 green;
    border: 0;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-local-no {
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 8px 8px;
    width: 150px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: rgb(104, 18, 18);
    box-shadow: 0px -4px 0px 0px brown;
    border: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-local-yes:hover {
    transition: all 0.2s;
    color: rgb(1, 255, 1);
    background-color: rgb(36, 87, 52);
}

.btn-local-no:hover {
    transition: all 0.2s;
    color: red;
    background-color: rgb(112, 38, 38);
}

.msg-local-btns {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    margin-top: 5px;
}
