body {
  background: url(https://tinyurl.com/5axytknj);
  margin: 0;
  background-size: cover;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.title {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  height: 50px;
  font-size: 35px;
  text-align: left;
  letter-spacing: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title span {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#btn-storage {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  text-align: center;
  background-color: brown;
  border: solid black;
}

#btn-storage:hover {
  background-color: red;
}

header {
  background-color: grey;
  color: white;
  font-family: fantasy;
  font-size: 25px;
  text-align: center;
  height: 35px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* PLUS ADD BUTTON START */
.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7dcdc;
  margin: 0 auto;
  margin-top: 70px;
  border: solid;
  border-color: grey;
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0 0 5px 5px #806e80;
          box-shadow: 0 0 5px 5px #806e80;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  -webkit-transition-property: border-radius, color, background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: border-radius, color, background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow, border-radius, color, background-color;
  transition-property: transform, box-shadow, border-radius, color, background-color, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-in-out, ease-out, ease-out, ease-in;
          transition-timing-function: ease-in-out, ease-out, ease-out, ease-in;
  -webkit-transition-delay: 0s, 0s, 0s, 0.2s;
          transition-delay: 0s, 0s, 0s, 0.2s;
}

.plus span {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 50px;
  font-family: sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.plus:hover {
  border-color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 2px #0e0b0e;
          box-shadow: 0 0 4px 2px #0e0b0e;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  background-color: purple;
  -webkit-transition: cubic-bezier(0.55, 0.2, 0.8, 0.8);
  transition: cubic-bezier(0.55, 0.2, 0.8, 0.8);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.plus:hover span {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.sidenav {
  position: fixed;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  height: 100%;
  width: 35px;
  color: transparent;
  float: left;
  z-index: 1;
  top: 6.2%;
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidenav header {
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sidenav:hover {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 160px;
  background-color: #111;
  color: grey;
  cursor: default;
}

/* The navigation menu links */
.sidenav .item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

.sidenav .item:hover {
  color: white;
}

.sidenav .hr {
  display: none;
}

.sidenav #item4 {
  margin-top: 540px;
  font-size: 15px;
}

/* NEW BOOK ELEMENTS / PARAMETERS */
input {
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ad5665;
  background: transparent;
  outline: none;
  margin-left: 5px;
  font-size: 25px;
  direction: ltr;
  border-bottom: 2px solid #625f5f;
}

.modal,
.modal-edit {
  display: none;
  border: 3px solid black;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: solid;
  border-radius: 15px;
  height: 30rem;
  width: 30rem;
  -webkit-box-shadow: 0 0 4px 5px #813e81;
          box-shadow: 0 0 4px 5px #813e81;
  background-color: rgba(0, 0, 0, 0.876);
}

.modal-input,
.modal-edit-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-indent: 2rem;
}

.modal-head,
.modal-edit-head {
  text-align: center;
  height: 50px;
  font-family: fantasy;
  font-size: 40px;
  background-color: purple;
  border: solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-content,
.modal-edit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal-content .button-wrapper,
.modal-edit-content .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-content .button-wrapper .btn-add,
.modal-content .button-wrapper .btn-save,
.modal-content .button-wrapper .btn-cancel,
.modal-edit-content .button-wrapper .btn-add,
.modal-edit-content .button-wrapper .btn-save,
.modal-edit-content .button-wrapper .btn-cancel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 8px;
  font-size: 20px;
  width: 150px;
  color: #fff;
  background-color: #144b25;
  -webkit-box-shadow: 0 -4px 0 green;
          box-shadow: 0 -4px 0 green;
  border: none;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
}

.modal-content .button-wrapper .btn-add:hover,
.modal-content .button-wrapper .btn-save:hover,
.modal-content .button-wrapper .btn-cancel:hover,
.modal-edit-content .button-wrapper .btn-add:hover,
.modal-edit-content .button-wrapper .btn-save:hover,
.modal-edit-content .button-wrapper .btn-cancel:hover {
  background-color: #149029;
}

.modal-content .button-wrapper .btn-add:active,
.modal-content .button-wrapper .btn-save:active,
.modal-content .button-wrapper .btn-cancel:active,
.modal-edit-content .button-wrapper .btn-add:active,
.modal-edit-content .button-wrapper .btn-save:active,
.modal-edit-content .button-wrapper .btn-cancel:active {
  -webkit-box-shadow: 0 -2px 0 green;
          box-shadow: 0 -2px 0 green;
}

.modal-content .button-wrapper .btn-cancel,
.modal-edit-content .button-wrapper .btn-cancel {
  background-color: #681212;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 -4px 0 brown;
          box-shadow: 0 -4px 0 brown;
}

.modal-content .button-wrapper .btn-cancel:hover,
.modal-edit-content .button-wrapper .btn-cancel:hover {
  background-color: #f11313;
}

.modal-content .button-wrapper .btn-cancel:active,
.modal-edit-content .button-wrapper .btn-cancel:active {
  -webkit-box-shadow: 0 -2px 0 brown;
          box-shadow: 0 -2px 0 brown;
}

.modal-content .button-wrapper .btn-save,
.modal-edit-content .button-wrapper .btn-save {
  background-color: #e9650d;
  -webkit-box-shadow: 0 -4px 0 orange;
          box-shadow: 0 -4px 0 orange;
}

.modal-content .button-wrapper .btn-save:hover,
.modal-edit-content .button-wrapper .btn-save:hover {
  background-color: #c48322;
}

.modal-content .button-wrapper .btn-save:active,
.modal-edit-content .button-wrapper .btn-save:active {
  -webkit-box-shadow: 0 -2px 0 #ca750e;
          box-shadow: 0 -2px 0 #ca750e;
}

.modal-edit {
  -webkit-box-shadow: 0 0 4px 5px #a8782a;
          box-shadow: 0 0 4px 5px #a8782a;
  background-color: rgba(124, 84, 10, 0.938);
}

.modal-edit-head {
  background-color: #c2891f;
}

.overlay {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.date-label-modal {
  color: grey;
}

label {
  font-family: fantasy;
  color: #999;
  font-size: 25px;
  -webkit-transition: color 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: color 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, color 0.5s ease-out;
  transition: transform 0.5s ease-out, color 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.max-pages,
.pages {
  width: 100px;
  color: #ad5665;
  background: transparent;
}

.date:focus + label {
  color: #9425c7;
}

input:focus:not(.date) + label {
  color: #9425c7;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform: translate(0.25rem, -1rem);
          transform: translate(0.25rem, -1rem);
}

/* NEW CARD ELEMENTS / PARAMETERS */
.card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 0 4px 5px #806e80;
          box-shadow: 0 0 4px 5px #806e80;
  border: solid;
  border-radius: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.876);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  max-width: 30rem;
}

.card-head, .card-pages-head, .card-max-pages-head {
  display: -ms-grid;
  display: grid;
  margin: 0;
  text-align: center;
  font-size: 50px;
  background-color: black;
  color: white;
}

.card-date {
  position: fixed;
  font-size: 15px;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-top: 39px;
  text-shadow: 1px 1px 1px purple;
}

.card-title, .card-btns-pages, .card-btns-max-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.card-title {
  padding: 20px 15px;
}

.card .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .btn-add-pages,
.card .btn-add-max-pages,
.card .btn-reduce-pages,
.card .btn-reduce-max-pages {
  border: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.card .btn-add-pages,
.card .btn-add-max-pages {
  background-color: green;
}

.card .btn-add-pages:active,
.card .btn-add-max-pages:active {
  background-color: #13ff13;
}

.card .btn-reduce-pages,
.card .btn-reduce-max-pages {
  background-color: brown;
}

.card .btn-reduce-pages:active,
.card .btn-reduce-max-pages:active {
  background-color: red;
}

.card .btn-edit,
.card .btn-remove {
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #e9650d;
  -webkit-box-shadow: 0 -4px 0 orange;
          box-shadow: 0 -4px 0 orange;
  border: none;
  -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
}

.card .btn-edit:hover,
.card .btn-remove:hover {
  color: orange;
  -webkit-box-shadow: 0 -4px 0 orange;
          box-shadow: 0 -4px 0 orange;
}

.card .btn-edit:active,
.card .btn-remove:active {
  -webkit-box-shadow: 0 -2px 0 orange;
          box-shadow: 0 -2px 0 orange;
  color: orange;
  background-color: #644a19;
}

.card .btn-remove {
  background-color: #681212;
  -webkit-box-shadow: 0 -4px 0 brown;
          box-shadow: 0 -4px 0 brown;
}

.card .btn-remove:hover {
  color: brown;
  -webkit-box-shadow: 0 -4px 0 brown;
          box-shadow: 0 -4px 0 brown;
}

.card .btn-remove:active {
  color: #572222;
  -webkit-box-shadow: 0 -3px 0 #572222;
          box-shadow: 0 -3px 0 #572222;
  background-color: brown;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 5rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 150px;
}

/* CONFIRMATION FOR DELETION MESSAGE */
.message {
  display: none;
  -webkit-box-shadow: 0 0 4px 5px navajowhite;
          box-shadow: 0 0 4px 5px navajowhite;
  border: solid;
  border-radius: 15px;
  background-color: rgba(61, 22, 22, 0.876);
  overflow: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.message-head {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  padding: 10px 0 0;
  background-color: navajowhite;
  border: solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.message-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-buttons .btn-confirm,
.message-buttons .btn-decline {
  padding: 10px 0;
  font-size: 30px;
  width: 100%;
  color: #fff;
  background-color: #144b25;
  -webkit-box-shadow: 0 -8px 0 green;
          box-shadow: 0 -8px 0 green;
  border: 0;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.message-buttons .btn-confirm:hover,
.message-buttons .btn-decline:hover {
  color: #01ff01;
  background-color: #245734;
}

.message-buttons .btn-confirm:active,
.message-buttons .btn-decline:active {
  -webkit-box-shadow: 0px -3px 0px 0px;
          box-shadow: 0px -3px 0px 0px;
}

.message-buttons .btn-decline {
  background-color: #681212;
  -webkit-box-shadow: 0px -8px 0px 0px brown;
          box-shadow: 0px -8px 0px 0px brown;
}

.message-buttons .btn-decline:hover {
  color: red;
  background-color: #702626;
}

.msg-local-container {
  position: fixed;
  display: none;
  z-index: 20;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  top: 45%;
  left: 45%;
  -webkit-box-shadow: 0 0 4px 5px #c00f0f;
          box-shadow: 0 0 4px 5px #c00f0f;
  border: solid;
  border-radius: 15px;
  block-size: 10rem;
  height: 90px;
  width: 300px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: rgba(61, 22, 22, 0.876);
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.msg-local-head {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  background-color: #770404;
  border: solid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-local-yes {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 8px;
  font-size: 14px;
  width: 150px;
  color: #fff;
  background-color: #144b25;
  -webkit-box-shadow: 0 -4px 0 green;
          box-shadow: 0 -4px 0 green;
  border: 0;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-local-no {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 8px;
  width: 150px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #681212;
  -webkit-box-shadow: 0px -4px 0px 0px brown;
          box-shadow: 0px -4px 0px 0px brown;
  border: 0;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-local-yes:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #01ff01;
  background-color: #245734;
}

.btn-local-no:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: red;
  background-color: #702626;
}

.msg-local-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 5px;
}
/*# sourceMappingURL=stylesheet.css.map */